<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.cb.andbase">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBase">
        <activity
            android:name=".activity.TabbedActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.RefreshMoreActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.TextActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.NetActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.DrawerActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.FloatWindowActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.RecyclerViewMaxItemActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.BarBtnActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.DialogActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.LocalActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.CrashActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.LoadingActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.UpdateActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.RecyclerActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.TestBrowserActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.SplashTestBaseActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppThemeBase.NoActionBar" />
        <activity android:name=".NavigationMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="MTA_CHANNEL"
            android:value="${MTA_CHANNEL_VALUE}" />
    </application>

</manifest>